In [1]:
### Libraries

import pandas as pd
import glob
from pathlib import Path

## Rename columns

In [ ]:
def rename_columns(dirname, destination):
    for filename in sorted(glob.glob(dirname + '/*.csv')):
        #print(filename)
        df = pd.read_csv(filename)

        df = df.rename(columns={ 
        df.columns[0]: "Entidad",
        df.columns[1]: "Homicidios", 
        df.columns[2]: "Entidad",
        df.columns[3]: "Homicidios",}) 
        path = Path(filename).stem
        print(path)
        df.to_csv( destination +  path+".csv",encoding="utf-8", index = False)

In [ ]:
rename_columns("../gpo_interinsitucional/","../gpo_interinsitucional/2019_2020/" )

### Concat columns

In [ ]:
def concat_columns(dirname):
    for filename in sorted(glob.glob(dirname + '/*.csv')):
        df = pd.read_csv(filename)
        df = pd.concat([df.iloc[:, 0:2], df.iloc[:, 2:4]]).reset_index()
        path = Path(filename).stem
        print(path)
        df.to_csv( dirname +  path + ".csv",encoding="utf-8", index = False)

In [ ]:
concat_columns("./2019_2020/")

## Drop NAN Values

In [ ]:
def remove_nan(dirname):
    for filename in sorted(glob.glob(dirname + '/*.csv')):
        #print(filename)
        df = pd.read_csv(filename)
        df = df.dropna()
        path = Path(filename).stem
        print(path)
        df.to_csv( dirname +  path+".csv",encoding="utf-8", index = False)

In [ ]:
remove_nan("./2019_2020/")

In [18]:
#df= pd.read_csv("./2019_2020/01052020.csv")
df= pd.read_csv("./2019_2020/02052020.csv")
df

                Entidad  Homicidios        Entidad.1  Homicidios.1
0        Aguascalientes         0.0          Morelos           0.0
1       Baja California         5.0          Nayarit           0.0
2                   NaN         NaN       Nuevo León           5.0
3   Baja California Sur         0.0              NaN           NaN
4                   NaN         NaN           Oaxaca           4.0
5              Campeche         0.0              NaN           NaN
6                   NaN         NaN           Puebla           4.0
7               Chiapas         0.0              NaN           NaN
8                   NaN         NaN        Querétaro           1.0
9             Chihuahua         4.0              NaN           NaN
10                  NaN         NaN     Quintana Roo           1.0
11     Ciudad de México         7.0              NaN           NaN
12                  NaN         NaN  San Luis Potosí           1.0
13             Coahuila         0.0              NaN           NaN
14                  NaN         NaN          Sinaloa           1.0
15               Colima         1.0              NaN           NaN
16                  NaN         NaN           Sonora           1.0
17              Durango         1.0              NaN           NaN
18                  NaN         NaN          Tabasco           1.0
19     Estado de México         7.0              NaN           NaN
20                  NaN         NaN       Tamaulipas           6.0
21           Guanajuato        20.0              NaN           NaN
22                  NaN         NaN         Tlaxcala           0.0
23             Guerrero         4.0              NaN           NaN
24                  NaN         NaN         Veracruz           5.0
25              Hidalgo         0.0              NaN           NaN
26                  NaN         NaN          Yucatán           0.0
27              Jalisco         2.0              NaN           NaN
28                  NaN         NaN        Zacatecas          11.0
29            Michoacán         6.0              NaN           NaN
30                  NaN         NaN            Total          98.0

In [19]:
df = pd.concat([df.iloc[:, 0:2], df.iloc[:, 2:4].rename(columns={'Entidad.1': 'Entidad', 'Homicidios.1': 'Homicidios'})]).reset_index()


df

    index              Entidad  Homicidios
0       0       Aguascalientes         0.0
1       1      Baja California         5.0
2       2                  NaN         NaN
3       3  Baja California Sur         0.0
4       4                  NaN         NaN
..    ...                  ...         ...
57     26              Yucatán         0.0
58     27                  NaN         NaN
59     28            Zacatecas        11.0
60     29                  NaN         NaN
61     30                Total        98.0

[62 rows x 3 columns]

In [17]:
df = pd.concat([df.iloc[:, 0:2], df.iloc[:, 2:4]]).reset_index()
df

    index              Entidad  Homicidios  Entidad.1  Homicidios.1
0       0       Aguascalientes         0.0        NaN           NaN
1       1      Baja California         5.0        NaN           NaN
2       2                  NaN         NaN        NaN           NaN
3       3  Baja California Sur         0.0        NaN           NaN
4       4                  NaN         NaN        NaN           NaN
..    ...                  ...         ...        ...           ...
57     26                  NaN         NaN    Yucatán           0.0
58     27                  NaN         NaN        NaN           NaN
59     28                  NaN         NaN  Zacatecas          11.0
60     29                  NaN         NaN        NaN           NaN
61     30                  NaN         NaN      Total          98.0

[62 rows x 5 columns]