In [19]:
#Libraries
import pandas as pd
import camelot
from os.path import isfile, isdir
import os
from pathlib import Path
import glob
import zipfile
from io import StringIO
import logging
from pathlib import Path
from shutil import unpack_archive

In [20]:
# Read pdf's and extract all tables from pdf's saved as .zip

def extract_tables(dirname):
    """ 
    extract_tables 
  
    Extract tables from pdf's 
  
    Parameters: 
    dirname (str)     : Directory where the new data sets will be save
      
    """
    
    for filename in sorted(glob.glob(dirname + '/*.pdf')):
        #print(filename)
        
        try:
          tables = camelot.read_pdf(filename,flavor = "stream")
          path = Path(filename).stem
          #Saving in root directory
          destination = "../data_raw/gpo_interinsitucional/"  
          tables.export(destination  + path + ".csv", f="csv", compress=False)
          print("Saved")

        except:
            print("Error, cannot read file")

In [21]:
extract_tables("../data_download/data_source/gpo_interinstitucional/")

Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved
Saved

In [153]:
df

              Entidades  Septiembre 13      Entidades.1  Septiembre 13.1
0        Aguascalientes            0.0          Morelos              3.0
1       Baja California            9.0          Nayarit              0.0
2                   NaN            NaN       Nuevo León              1.0
3   Baja California Sur            0.0              NaN              NaN
4                   NaN            NaN           Oaxaca              1.0
5              Campeche            0.0              NaN              NaN
6                   NaN            NaN           Puebla              5.0
7               Chiapas            3.0              NaN              NaN
8                   NaN            NaN        Querétaro              0.0
9             Chihuahua            6.0              NaN              NaN
10                  NaN            NaN     Quintana Roo              2.0
11     Ciudad de México            1.0              NaN              NaN
12                  NaN            NaN  San Luis Potosí              4.0
13             Coahuila            0.0              NaN              NaN
14                  NaN            NaN          Sinaloa              5.0
15               Colima            3.0              NaN              NaN
16                  NaN            NaN           Sonora              1.0
17              Durango            0.0              NaN              NaN
18                  NaN            NaN          Tabasco              0.0
19     Estado de México            7.0              NaN              NaN
20                  NaN            NaN       Tamaulipas              0.0
21           Guanajuato            8.0              NaN              NaN
22                  NaN            NaN         Tlaxcala              0.0
23             Guerrero            1.0              NaN              NaN
24                  NaN            NaN         Veracruz              3.0
25              Hidalgo            0.0              NaN              NaN
26                  NaN            NaN          Yucatán              0.0
27              Jalisco            8.0              NaN              NaN
28                  NaN            NaN        Zacatecas              4.0
29            Michoacán            9.0              NaN              NaN
30                  NaN            NaN            Total             84.0

## Rename columns

In [154]:
df = df.rename(columns={ 
df.columns[0]: "Entidad",
df.columns[1]: "Homicidios", 
df.columns[2]: "Entidad",
df.columns[3]: "Homicidios",

})                          
df

                Entidad  Homicidios          Entidad  Homicidios
0        Aguascalientes         0.0          Morelos         3.0
1       Baja California         9.0          Nayarit         0.0
2                   NaN         NaN       Nuevo León         1.0
3   Baja California Sur         0.0              NaN         NaN
4                   NaN         NaN           Oaxaca         1.0
5              Campeche         0.0              NaN         NaN
6                   NaN         NaN           Puebla         5.0
7               Chiapas         3.0              NaN         NaN
8                   NaN         NaN        Querétaro         0.0
9             Chihuahua         6.0              NaN         NaN
10                  NaN         NaN     Quintana Roo         2.0
11     Ciudad de México         1.0              NaN         NaN
12                  NaN         NaN  San Luis Potosí         4.0
13             Coahuila         0.0              NaN         NaN
14                  NaN         NaN          Sinaloa         5.0
15               Colima         3.0              NaN         NaN
16                  NaN         NaN           Sonora         1.0
17              Durango         0.0              NaN         NaN
18                  NaN         NaN          Tabasco         0.0
19     Estado de México         7.0              NaN         NaN
20                  NaN         NaN       Tamaulipas         0.0
21           Guanajuato         8.0              NaN         NaN
22                  NaN         NaN         Tlaxcala         0.0
23             Guerrero         1.0              NaN         NaN
24                  NaN         NaN         Veracruz         3.0
25              Hidalgo         0.0              NaN         NaN
26                  NaN         NaN          Yucatán         0.0
27              Jalisco         8.0              NaN         NaN
28                  NaN         NaN        Zacatecas         4.0
29            Michoacán         9.0              NaN         NaN
30                  NaN         NaN            Total        84.0

In [155]:
df = pd.concat([df.iloc[:, 0:2], df.iloc[:, 2:4]]).reset_index()

display(df)

    index              Entidad  Homicidios
0       0       Aguascalientes         0.0
1       1      Baja California         9.0
2       2                  NaN         NaN
3       3  Baja California Sur         0.0
4       4                  NaN         NaN
..    ...                  ...         ...
57     26              Yucatán         0.0
58     27                  NaN         NaN
59     28            Zacatecas         4.0
60     29                  NaN         NaN
61     30                Total        84.0

[62 rows x 3 columns]

In [156]:
df = df.dropna()
df

    index              Entidad  Homicidios
0       0       Aguascalientes         0.0
1       1      Baja California         9.0
3       3  Baja California Sur         0.0
5       5             Campeche         0.0
7       7              Chiapas         3.0
9       9            Chihuahua         6.0
11     11     Ciudad de México         1.0
13     13             Coahuila         0.0
15     15               Colima         3.0
17     17              Durango         0.0
19     19     Estado de México         7.0
21     21           Guanajuato         8.0
23     23             Guerrero         1.0
25     25              Hidalgo         0.0
27     27              Jalisco         8.0
29     29            Michoacán         9.0
31      0              Morelos         3.0
32      1              Nayarit         0.0
33      2           Nuevo León         1.0
35      4               Oaxaca         1.0
37      6               Puebla         5.0
39      8            Querétaro         0.0
41     10         Quintana Roo         2.0
43     12      San Luis Potosí         4.0
45     14              Sinaloa         5.0
47     16               Sonora         1.0
49     18              Tabasco         0.0
51     20           Tamaulipas         0.0
53     22             Tlaxcala         0.0
55     24             Veracruz         3.0
57     26              Yucatán         0.0
59     28            Zacatecas         4.0
61     30                Total        84.0

In [157]:
df = df.drop(columns=['index'])

In [158]:
df.to_csv("HOLA"+ ".csv", encoding = "utf-8", index = False)

In [77]:
result

              Entidades  Septiembre 13 Entidades.1  Septiembre 13.1
0        Aguascalientes            0.0         NaN              NaN
1       Baja California            9.0         NaN              NaN
2                   NaN            NaN         NaN              NaN
3   Baja California Sur            0.0         NaN              NaN
4                   NaN            NaN         NaN              NaN
..                  ...            ...         ...              ...
26                  NaN            NaN     Yucatán              0.0
27                  NaN            NaN         NaN              NaN
28                  NaN            NaN   Zacatecas              4.0
29                  NaN            NaN         NaN              NaN
30                  NaN            NaN       Total             84.0

[62 rows x 4 columns]